.menu {
    position: absolute;
    top: 0;
    left: calc((100vw - 900px)/2);
    height: 70px;
    padding-top: 50px;
    display: flex;

    &-item {
        font-weight: 600;
        padding-left: 21px;
        background: url('../../../public/icons/right.svg');
        background-size: 20px 20px;
        background-repeat: no-repeat;
        cursor: pointer;
        margin-left: 10px;
    }
}