$button: #64748b;
$button-hover: #94a3b8;
$button-disabled: #cbd5e1;
$button-save: #064e3b;
$button-cancel: #7f1d1d;

$active-link: #0284c7;
$active-link-hover: rgba(36, 49, 12);

$toast-success: rgb(72, 186, 72);
$toast-success-hover: rgb(111, 216, 111);
$toast-error: rgb(165, 79, 79);
$toast-error-hover: rgb(179, 139, 139);